<li>
    <p>
        <% if(locals.user && (locals.user.id==comment.user.id || locals.user.id==post.user.id)){ %>
            <small>
                <a href="/comments/destroy/?id=<%=comment.id%>&postUserId=<%=post.user.id%>" style="color:red">X</a>
            </small>
        <% } %>
        <%=comment.content%>
        <br>
        <small>
           - <%=comment.user.name%>
        </small>
    </p>
</li>