<link rel="stylesheet" href="/css/home_style.css">


<h1 class="text-center bold-white">Social/<%=title%></h1>

<div id="home-container">

    <section id="feed-posts">
        <% if(locals.user){ %>
            <h2 class="bold-white text-center">Post</h2>
            <form action="/posts/create" id="new-post-form" class="text-center" method="POST">
                <textarea id="post-text-content" name="content"  cols="30" rows="3" placeholder="Type here..."></textarea>
                <input id="post-submit-botton" type="submit" value="Post">
            </form>
        <% } %>
    
        <div id="posts-list-container">
            <ol id="post-list" type="1">
                <% for(post of locals.posts) {%>
    
                    <%- include("./partials/_post") -%>
    
                <% } %>
            </ol>
        </div>
    
    </section>
    
    <section id="user-friends">
        <h4 class="bold-white">Friends</h4>
        <% for(u of all_user) { %>
            <p>
                <a href="/users/profile/<%=u.id%>"><%=u.name%></a>
            </p>
        <% } %>
    </section>

</div>

<script src="/js/home_posts.js"></script>
